<div class="contact-page">
  <header class="contact-header">
    <h2>Contactez-Moi</h2>
    <p>N'hésitez pas à me contacter pour toute question ou opportunité.</p>
  </header>

  <div class="contact-details">
    <div class="contact-card">
      <h3>Informations Personnelles</h3>
      <p><strong>Nom:</strong> Briet-Marcillaud</p>
      <p><strong>Prénom:</strong> Christophe</p>
    </div>

    <div class="contact-card">
      <h3>Coordonnées</h3>
      <p><strong>Email:</strong> <a href="mailto:brietmarcillau@et.esiea.fr">brietmarcillau&#64;et.esiea.fr</a></p>
    </div>

    <div class="contact-card">
      <h3>Réseaux Sociaux</h3>
      <ul class="social-links">
        <li>
          <a href="https://www.linkedin.com/in/christophe-briet-marcillaud-b9a9171b8/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
