<div class="container">
  <section class="accueil">
    <h1>Présentation générale</h1>
    <div class="presentation">
      <h2>Introduction</h2>
      <p>En alternance dans la société 2MoRO depuis septembre 2023 en tant que membre de la direction technique, mon travail consiste à réaliser des études technique pour participer à l’évolutions sur le projet AeroWebb et à écrire des documentations permettant aux autres développeurs de monter en niveau.</p>
    </div>

    <section class="valeurs">
      <h2>Mes valeurs</h2>
      <div class="valeurs-grid">
        <div class="valeur-card">
          <h3>Altruisme</h3>
          <p>L’altruisme est une des valeurs que j’ai le plus à cœur à respecter. Si je suis en capacité d’aider quelqu’un, je ferais tout mon possible pour le faire. La preuve d’altruisme dont je suis le plus fier est d’avoir aidé une personne rencontré lors de mon année en mise à niveau en hôtellerie-restauration à sortir de sa dépression. Cette personne a vécu une vie difficile et s’est retrouvé à l’hôpital durant plusieurs semaines, je lui ai rendu visite tous les soirs après les cours et durant les week-ends afin de la remotiver. Elle est maintenant devenue ma meilleure amie et je suis fier d’avoir pu l’aider.</p>
        </div>
        <div class="valeur-card">
          <h3>Persévérance</h3>
          <p>La persévérance est une valeur primordiale me concernant pour poursuivre des projets autant familiaux, personnels que professionnels. Le meilleur exemple de ma persévérance provient du job d’été que j’ai effectué en 2020 en tant que plongeur dans un restaurant franco-italien. Durant ces 2 mois, j’ai dû travailler dans des conditions difficiles dû à la chaleur, l’intensité du travail et les horaires complexe de la restauration. J’ai pensé à abandonner plusieurs fois mais j’ai persévéré pour honorer mon engagement jusqu’au bout.</p>
        </div>
        <div class="valeur-card">
          <h3>Loyauté</h3>
          <p>La loyauté est un aspect important dans ma vie de tous les jours avec les gens de mon entourage quel que soit les situations rencontrées. L’exemple de loyauté que je trouve le plus parlant est mon amitié avec mon meilleur ami qui dure depuis la première année de maternelle. Malgré les différents déménagement, changement d’école et les avancées dans nos vies respectives, nous avons gardé contact et discutons régulièrement.</p>
        </div>
        <div class="valeur-card">
          <h3>Respect</h3>
          <p>Le respect envers les autres est pour moi une autre valeur primordiale à respecter. lorsque l’on travaille en équipe et dans la vie de tous les jours avec la famille et les amis.</p>
        </div>
      </div>
    </section>

    <section class="projet-professionnel">
      <h2>Mon projet professionnel</h2>
      <p>Lors de mes années de lycée, j’étais attiré par les sciences et la cuisine. Je me suis donc tourné vers une mise à niveau en hôtellerie-restauration. Durant cette année, j’ai eu la chance de travailler dans un restaurant ce qui m’a permis de me rendre compte que je ne souhaitais pas continuer sur cette voie. Cela m’a amené à discuter avec une conseillère d’orientation qui m’a dirigé vers l’informatique et l’école Intech. Mon entrée à Intech a confirmé l’orientation que cette conseillère m’a donné et la programmation est devenu une de mes passions.
        N'étant pas intéressé par le design et le côté graphique des applications, j’ai été attiré par la programmation des traitements côtés serveurs, des bases de données et de la structuration des applications. Tout ceci m’a amené à devenir développeur Backend durant mon stage, puis j’ai été promu membre de la Direction Technique.
        Le métier que j’aimerai exercer après mon diplôme est celui d’architecte Backend. J’ai déjà pu commencer à voir le fonctionnement de ce métier grâce à la direction Technique par la présence d’une personne l’exerçant dans mon équipe. Ce que je souhaite faire en tant qu’architecte backend est optimiser les applications en structurant le code de manière organisé et logique, réaliser des études pour choisir les solutions les mieux adaptées, rédiger des documentations pour permettre d’avoir une base solide pour les personnes qui doivent travailler sur le code et effectuer de la veille pour contrecarrer l’obsolescence des librairies de fonction utilisées et donc de l’application dans son ensemble.
      </p>
    </section>

    <section class="qualites-humaines">
      <h2>Mes qualités humaines</h2>
      <p>Tout d’abord, je suis une personne polyvalente qui s’adapte facilement aux différentes situations rencontrées. Un exemple montrant ma polyvalence est la réalisation des différents projets lors de mes cinq premiers semestres à l’ESIEA. En effet, chaque semestre une technologie différente était mise en application pour développer un projet, il fallait également définir une identité différente pour chaque projet. J’ai réussi à m’adapter aux différents projets et à les mener à bien.
        Je suis également à l’écoute des autres est également une de mes qualités, ce qui me permet d’aider mes collègues qui rencontrent des problèmes lorsqu’ils demandent mon aide. Lors de mon stage et du début de mon alternance, j’ai travaillé sur un sujet de migration d’une fonctionnalité sur laquelle j’ai rédigé une documentation. La nouvelle manière d’utiliser cette fonctionnalité étant la nouvelle norme, plusieurs développeurs sont venus demander mon aide pour leur expliquer le fonctionnement. J’ai pu les aider à mieux comprendre et à pouvoir être indépendant sur l’utilisation de cette méthode.
        Enfin, mon envie d’apprendre me permet de m’intégrer dans une équipe et d’apprendre de nouvelles choses, ce qui m’apporte de nouvelles compétences.
        Grâce à ces nouvelles compétences, je suis capable de m’investir dans de nouveaux projets.
      </p>
    </section>

    <section class="centres-interets">
      <h2>Mes centres d'intérêts</h2>
      <p>En ce qui concerne mes centres d’intérêt, je suis passionné par les jeux vidéo et la culture japonaise comme les mangas et leur animations.
        Les jeux vidéo me permettent de vivre des aventures tout en développant ma concentration, mon imagination et ma rigueur. Une série de jeux que j’apprécie particulièrement est celle des Dark souls qui ont la réputation d’être extrêmement difficile.
        Cette réputation est pertinente, cependant ce sont des jeux où l’apprentissage et la persévérance sont les maîtres mots. En effet, étant des jeux d’actions avec des timings particulier à apprendre, il faut s’adapter aux différentes situations que l’on peut rencontrer comme affronter une horde d’ennemis ou un seul ennemi gigantesque. Lors du combat contre une horde d’ennemi, il faut prêter attention à ne pas se retrouver encerclé et réussir à gérer les différentes attaques. Avec les combat contre un ennemi gigantesque, l’important est de bien se concentrer sur les attaques qui peuvent être plus variés et plus dangereuses. La satisfaction de réussir à battre un ennemi majeur qui peut nous résister durant de longues heures est une des raisons majeures pour lesquelles j’aime cette série de jeux.
        Les mangas et animés japonais me permettent d’apprendre de nouvelles informations et de travailler ma capacité de lecture, ce qui est utile lors de la rédaction ou de la relecture de code. Un des mangas qui m’a le plus marqué est Kaguya-sama : Love is War. Au premier abord ce manga est une comédie romantique comme les autres mais elle apporte une variante qui est le stratagème des deux personnages principaux pour se forcer à se confesser l’un à l’autre. Le protagoniste masculin Miyuki Shirogane, est un exemple de persévérance et d’altruisme qui sont deux des valeurs qui me sont chères. Ce mélange d’humour, de moments sérieux et la personnalité des personnages est ce qui m’a le plus inspiré dans ce manga.
      </p>
    </section>
  </section>
</div>
