<div *ngIf="competence" class="competence-detail">
  <header class="competence-header">
    <div class="image-container">
      <img [src]="competence.imageUrl" [alt]="competence.nom">
    </div>
    <h2>{{ competence?.nom }}</h2>
    <div class="competence-info">
      <span class="competence-type">{{ competence?.type | uppercase }}</span> |
      <span class="competence-niveau">Niveau: {{ competence?.niveau }}</span>
    </div>
  </header>

  <section class="competence-section">
    <h3>Définition</h3>
    <pre>{{ competence?.definition }}</pre>
  </section>

  <section class="competence-section">
    <h3>Éléments de preuve</h3>
    <pre>{{ competence?.element_preuve }}</pre>
  </section>


  <section class="competence-section">
    <h3>Autocritique</h3>
    <pre>{{ competence?.autocritique }}</pre>
  </section>

  <section class="competence-section">
    <h3>Évolution prévue</h3>
    <pre>{{ competence?.evolution }}</pre>
  </section>

  <section class="realisations-section">
    <h3>Réalisations associées</h3>
    <ul>
      <li *ngFor="let realisationId of competence.realisations">
        <a [routerLink]="['/realisations', realisationId]">
          {{ getRealisationName(realisationId) }}
        </a>
      </li>
    </ul>
  </section>
</div>
