.competence-detail {
  max-width: 900px;
  margin: 3rem auto;
  padding: 3rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  font-family: 'Arial', sans-serif;
  color: #333;

  .competence-header {
    text-align: center;
    margin-bottom: 3rem;

    .image-container {
      width: 20%;
      height: 20%;
      margin: 0 auto 2rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    h2 {
      color: var(--primary-color);
      font-size: 3rem;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }

    .competence-info {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      color: #7f8c8d;
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    .competence-type {
    }

    .competence-niveau {
    }
  }

  .competence-section {
    margin-bottom: 3rem;

    h3 {
      color: var(--dark-color);
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
      padding-bottom: 0.8rem;
      border-bottom: 3px solid var(--primary-color);
      letter-spacing: 0.025em;
    }

    /* Style for pre tags */
    pre {
      font-size: 1.15rem;
      line-height: 1.7;
      color: #555;
      text-align: justify;
      white-space: pre-wrap;       /* CSS3: Breaks words to fit container */
      word-wrap: break-word;       /* Old versions of IE */
      font-family: inherit;       /* Use the same font as the surrounding text */
      background-color: transparent; /* Remove background color */
      border: none;                /* Remove border */
      padding: 0;                 /* Remove padding */
      margin: 0;                  /* Remove margin */
    }

    p {
      font-size: 1.15rem;
      line-height: 1.7;
      color: #555;
      text-align: justify;
    }
  }

  .realisations-section {
    margin-top: 2rem;
    padding: 1rem;
    border-top: 1px solid #ddd; /* Subtle separation */

    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: var(--primary-color); /* Use your primary color */
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex; /* Arrange items in a row */
      flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
      gap: 1rem; /* Space between items */
    }

    li {
      margin-bottom: 0.5rem;
    }

    a {
      display: inline-block;
      padding: 0.5rem 1rem;
      background-color: var(--light-color); /* Button-like appearance */
      color: var(--dark-color);
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--primary-color);
      }
    }
  }
}
